
header{
    
    background-image: linear-gradient(to bottom, #030000, #252323);
}

header>h1{
    vertical-align:center;
    text-align: center;
    align-self: start;
    color:blanchedalmond
}

.paragraph{
    vertical-align: middle;
    text-align: center;
    color:darkgray;
    size: 20px;
    font-size: 25px;
    padding-bottom: 5px;
}

html{
    height: 100%;
}
body{
    background-image: linear-gradient(to right, #4707f8, #0e034b, #4507d6);
}

.buttoncontainer{
    display:flexbox;
}

.button{
    min-height: 20px;
    min-width: 30px;
    padding-top: 2px;
    text-align: center;
    color: black;
    background-color: darkgray;
    height: 20px;
    width: 30px;
    overflow: hidden;
}

.Chess-Board {
    position:absolute;
    margin-top: 30px;
    padding-top: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    height: 75%;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.square{
    position: relative;
    height: 10%;
    background-color: white;
    border: 1px white transparent;
    float:left;
    display:grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: transparent;
}

.black{
    position: relative;
    height: 10%;
    background-image: linear-gradient(to right, #3E3E41, #6f6f74, #2a2a2c);
    border: 1px black solid;
    float:left;
    display:grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.white{
    position: relative;
    height: 10%;
    background-image: linear-gradient(to right, #E1E0F9, #a6a5c0, #E1E0F9);
    border: 1px black solid;
    float:left;
    display:grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.lightpawn{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.darkpawn{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightrook{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightknight{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbishop{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightking{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightqueen{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.darkrook{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.white:hover{
    background-image: linear-gradient(to right, #c2c1dd, #7c7b97, #a8a6da);
}

.black:hover{
    background-image: linear-gradient(to right, #817E7D, #94949c, #817E7D);
}

.white-drag-over{
    width: 86px;
    height: 86px;
    background-color: #DBCCC6;
    border: 2px black solid;
}

.black-drag-over{
    width: 86px;
    height: 86px;
    background-color: #817E7D;
    border: 2px black solid;
}

.drag-over{
    width: 86px;
    height: 86px;
    border: 2px red solid;
}

.land{
    width: 88px;
    height: 88px;
    border: 1px black solid;
}

.moves{
    background-image: linear-gradient(to right, #89ca94, #78927d, #5a7e61);
} 
