/*
header{
    display:inline-block;
    background-image: linear-gradient(to bottom, #030000, #252323);
    width:100%;
}*/

.main-div{
    position:relative;
    background-image: linear-gradient(to top, #030000, #252323);
    width:100%;
    max-width:100%;
}

.header-div{
    vertical-align:middle;
   /* background-image: linear-gradient(to top, #030000, #252323);*/
    height:10%;
    z-index: 1;
    max-width:100%;
}

h1{
    vertical-align:middle;
    text-align: center;
    align-self: start;
    color:blanchedalmond;
    max-width:100%;
}

.sub-header{
  /*  background-image: linear-gradient(to top, #030000, #252323);*/
    width:auto;
    height: 50%;
    top:65%;
    position:absolute;
    z-index: 24;
    max-width:100%;
}

.button{
    vertical-align: middle;
    padding-left: 10px;
    margin-left: 10px;
    color: black;
    background-color: darkgray;
    height: 50%;
    width: 100%;
    overflow: hidden;
    max-width:100%;
}

.rounded-corners{
    border-radius: 15px;
}

.status{
    left:40%;
    width:100%;
    z-index: 1;
    max-width:100%;
}

.paragraph{
    vertical-align: middle;
    text-align: center;
    color:darkgray;
    font-size: 25px;
    padding-bottom: 5px;
    width:100%;
    height: 5%;
    opacity: 1;
    transition:opacity 1s linear;
    -webkit-trasition:opacity 1s linear;
    -moz-transition:opacity 1s linear;
    -o-transition:opacity 1s linear;
    -ms-transition:opacity 1s linear;
}

html{
    height: 100%;
    max-width:100%;
}
body{
    background-image: linear-gradient(to right, #4707f8, #0e034b, #4507d6);
    max-width:100%;
 /*   width:auto*/
}

.notify{
    vertical-align: middle;
    position:absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    z-index: 10;
    display: none;
}

.checkmate{
    vertical-align: middle;
    text-align: center;
    font-size: 46px;
    font-weight: 900;
    color: red;
    font: bold;
    font-stretch: semi-expanded;
}

.Chess-Board {
    position:absolute;
    margin-top: 30px;
    padding-top: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    height: 75%;
    z-index: 1;
 /*   aspect-ratio: 1/1;*/
    background-color: transparent;
}

.square{
    position: relative;
    height: 10%;
    background-color: white;
    border: 1px white transparent;
    float:left;
    display:grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: transparent;
    z-index: 1;
}

.black{
    position: relative;
    height: 10%;
    background-image: linear-gradient(to right, #3E3E41, #6f6f74, #2a2a2c);
    border: 1px black solid;
    float:left;
    display:grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    z-index: 1;
}

.white{
    position: relative;
    height: 10%;
    background-image: linear-gradient(to right, #E1E0F9, #a6a5c0, #E1E0F9);
    border: 1px black solid;
    float:left;
    display:grid;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    z-index: 1;
    animation: 1s ease-in  iteration-count direction fill-mode;
}

.lightpawn{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.darkpawn{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightrook{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightknight{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbishop{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightking{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightqueen{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.darkrook{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.white:hover{
    background-image: linear-gradient(to right, #c2c1dd, #7c7b97, #a8a6da);
}

.black:hover{
    background-image: linear-gradient(to right, #817E7D, #94949c, #817E7D);
}

.white-drag-over{
    width: 86px;
    height: 86px;
    background-color: #DBCCC6;
    border: 2px black solid;
}

.black-drag-over{
    width: 86px;
    height: 86px;
    background-color: #817E7D;
    border: 2px black solid;
}

.drag-over{
    width: 86px;
    height: 86px;
    border: 2px red solid;
}

.land{
    width: 88px;
    height: 88px;
    border: 1px black solid;
}

.moves{
    background-image: linear-gradient(to right, #89ca94, #78927d, #5a7e61);
} 

.drop{
    animation: change 5s 1;
}

@keyframes change{
    50% {background: #02aa2c};
}

.fade-In{
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn{
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
