header>h1{
    text-align: center;
    align-self: start;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.Chess-Board {
    position:absolute;
    margin-top: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    width: 816px;
    height: 816px;
    border: 10px solid #461707;
}

.black{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #3E3E41;
    border: 1px black solid;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    position: relative;
    width:100px;
    height: 100px;
    background-color: #E1E0F9;
    border: 1px black solid;
    float:left;
    display:flex;
    justify-content: center;
    align-items: center;
}

.lightpawn{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

.darkpawn{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightrook{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightknight{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightbishop{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightking{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lightqueen{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.darkrook{
    position:absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.white:hover{
    width: 98px;
    height: 98px;
    background-color: #DBCCC6;
    border: 2px black solid;
}

.black:hover{
    width: 98px;
    height: 98px;
    background-color: #817E7D;
    border: 2px black solid;
}

.white-drag-over{
    width: 98px;
    height: 98px;
    background-color: #DBCCC6;
    border: 2px black solid;
}

.black-drag-over{
    width: 98px;
    height: 98px;
    background-color: #817E7D;
    border: 2px black solid;
}

.drag-over{
    width: 98px;
    height: 98px;
    border: 2px red solid;
}

.land{
    width: 100px;
    height: 100px;
    border: 1px black solid;
}

.moves{
    background-color:green;
}
